.header{
    background-image: url("../images/header.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
}

.header-text {
    display: block;
    color: white;
    text-align: center;
    margin: 0;
    font-size: 5em;
    margin-top: 50px;
}

.brand-text {
    font-size: 2.5em;
    color: white;
    text-align: center;
    margin: 0;
    display: block;
}

.header-button {
    background-color: #f1c40f;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 100px;
    width: 200px;
    height: 80px;
}