.services {
  text-align: center;
  padding: 50px 20px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10x; 
  justify-items: center;
}

h2 {
  font-size: 36px;
  font-weight: bold;
}

p {
  font-size: 16px;
  color: #777;
  margin-bottom: 40px;
}
